page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f6f7f8;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.page {
  padding: 24rpx;
  box-sizing: border-box;
}

.section-title {
  font-size: 28rpx;
  font-weight: 600;
  color: #111;
  margin: 10rpx 0 18rpx;
}

.empty {
  color: #666;
  font-size: 24rpx;
  padding: 18rpx 0 30rpx;
}

.card {
  background: #fff;
  border-radius: 16rpx;
  padding: 24rpx;
  box-sizing: border-box;
  margin-bottom: 18rpx;
}

.title {
  font-size: 30rpx;
  font-weight: 600;
  color: #111;
}

.meta {
  margin-top: 8rpx;
  font-size: 22rpx;
  color: #666;
}

.content {
  margin-top: 12rpx;
  font-size: 24rpx;
  color: #333;
}

.actions {
  margin-top: 16rpx;
  display: flex;
  justify-content: flex-end;
}

.row {
  background: #fff;
  border-radius: 16rpx;
  padding: 20rpx 24rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14rpx;
}

.row-title {
  font-size: 28rpx;
  color: #111;
  font-weight: 600;
}

.row-sub {
  margin-top: 6rpx;
  font-size: 22rpx;
  color: #666;
}

.row-right {
  font-size: 28rpx;
  color: #111;
  font-weight: 700;
}

